# Redshift Connect & Load Data Demo

In [1]:
%load_ext sql

In [2]:
from time import time
import configparser
# import matplotlib.pyplot as plt
# import pandas as pd

# STEP 1: Get the params of the created redshift cluster 
- We need:
    - The redshift cluster <font color='red'>endpoint</font>
    - The <font color='red'>IAM role ARN</font> that give access to Redshift to read from S3

In [3]:
import configparser

config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

# FILL IN THE REDSHIFT ENPOINT HERE
DWH_ENDPOINT="redshift-cluster-de-assignment.ceoqlgitrobq.us-east-1.redshift.amazonaws.com" 
    
#FILL IN THE IAM ROLE ARN for S3 access
DWH_ROLE_ARN="arn:aws:iam::206790211102:role/myRedshiftRole"

# STEP 2: Connect to the Redshift Cluster

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
# print(conn_string)
%sql $conn_string

postgresql://awsuser:Passw0rd@redshift-cluster-de-assignment.ceoqlgitrobq.us-east-1.redshift.amazonaws.com:5439/dev

In [5]:
import boto3

s3 = boto3.resource('s3',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("my-demo-data-redshift")

for obj in sampleDbBucket.objects.filter():
    print(obj)

s3.ObjectSummary(bucket_name='my-demo-data-redshift', key='recurly_accounts.csv')

# STEP 3: Create Tables

In [6]:

%%sql 
DROP TABLE IF EXISTS "accounts";
CREATE TABLE "accounts" ( 
	batch_id             bigint    ,
	date_id              integer   ,
	date_id_ps           integer   ,
	month_id             integer   ,
	month_id_ps          integer   ,
	handle_batch_id      bigint    ,
	id                   varchar(1024) not null   ,
	code                 varchar(65535) not null  ,
	org_id               bigint not null  , 
	parent_account_id    varchar(65535)   ,
	bill_to              varchar(65535)   ,
	"state"              varchar(65535)   ,
	username             varchar(65535)   ,
	email                varchar(65535)   ,
	email_id             integer    	  ,
	preferred_locale     varchar(65535)   ,
	first_name           varchar(65535)   ,
	last_name            varchar(65535)   ,
	company              varchar(65535)   ,
	country_code         varchar(2)    	  ,
	custom_fields        varchar    ,
	has_live_subscription boolean    ,
	has_active_subscription boolean  ,
	has_future_subscription boolean  ,
	has_canceled_subscription boolean,
	has_paused_subscription boolean  ,
	has_past_due_invoice boolean    ,
		created_at           timestamp   ,
	updated_at           timestamp   ,
	deleted_at           timestamp   ,
	created_at_ps        timestamp   ,
	updated_at_ps        timestamp   ,
	deleted_at_ps        timestamp   ,
	sales_channel        integer    ,
	sales_rep            varchar(1024)  ,
	renewed_by           integer    ,
	original_orgid       bigint    , 
	sale_credit_sharing  decimal(18,4)    ,
	cs_credit_sharing    decimal(18,4)    ,
	partner_credit_sharing decimal(18,4)  ,
	ecom_credit_sharing  decimal(18,4)    ,
	credit_sharing       varchar   
 )   DISTSTYLE AUTO;

 * postgresql://awsuser:***@redshift-cluster-de-assignment.ceoqlgitrobq.us-east-1.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [7]:
%sql select * from accounts limit 10

 * postgresql://awsuser:***@redshift-cluster-de-assignment.ceoqlgitrobq.us-east-1.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

# STEP 4: Load Data into the cluster

In [9]:
%%time
qry = """
    copy accounts from 's3://my-demo-data-redshift/recurly_accounts.csv'
    credentials 'aws_iam_role={}'
    csv 
    IGNOREHEADER 1;
""".format(DWH_ROLE_ARN)

%sql $qry

 * postgresql://awsuser:***@redshift-cluster-de-assignment.ceoqlgitrobq.us-east-1.redshift.amazonaws.com:5439/dev
Done.
CPU times: total: 0 ns
Wall time: 1.34 s

[]

In [13]:
%sql select * from accounts limit 10

 * postgresql://awsuser:***@redshift-cluster-de-assignment.ceoqlgitrobq.us-east-1.redshift.amazonaws.com:5439/dev
10 rows affected.

[(1302, 20200316, 20200316, 202003, 202003, 1605, 'mj97cn6vk34a', 'organization-76501', 76501, '', 'self', 'active', 'viacustomers.com', 'email_730639', 730639, '', '', '', '76501-Viacustomers', '', '[]', False, False, False, False, False, False, datetime.datetime(2020, 3, 16, 9, 50, 2), datetime.datetime(2020, 10, 14, 6, 56, 40), None, datetime.datetime(2020, 3, 16, 1, 50, 2), datetime.datetime(2020, 10, 13, 22, 56, 40), None, 3, '', None, None, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), ''),
 (1302, 20200317, 20200317, 202003, 202003, 1605, 'mjgmuq5ow29n', 'organization-76849', 76849, '', 'self', 'active', '76849-Katalon Quotes', 'email_528917', 528917, '', '', '', '76849-Katalon Quotes', '', '[]', False, False, False, False, False, False, datetime.datetime(2020, 3, 17, 10, 49, 24), datetime.datetime(2020, 3, 17, 10, 49, 24), None, datetime.datetime(2020, 3, 17, 2, 49, 24), datetime.datetime(2020, 3, 17, 2, 49, 24), None, 3, '', None, None, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), ''),
 (1302, 20200319, 20200319, 202003, 202003, 1605, 'mjvsu7nuu7sd', 'organization-77552', 77552, '', 'self', 'active', 'sorb-group.ru', 'email_645642', 645642, '', '', '', '77552-Organization vladimir.yamin', '', '[]', False, False, False, False, False, False, datetime.datetime(2020, 3, 19, 13, 49, 40), datetime.datetime(2020, 10, 14, 6, 57, 2), None, datetime.datetime(2020, 3, 19, 5, 49, 40), datetime.datetime(2020, 10, 13, 22, 57, 2), None, 3, '', None, None, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), ''),
 (1302, 20200305, 20200305, 202003, 202003, 1605, 'mh2ybpr3p6q0', 'organization-73268', 73268, '', 'self', 'active', 'transwareag.com', 'email_405465', 405465, '', '', '', '73268-Organization ag', '', '[]', False, False, False, False, False, False, datetime.datetime(2020, 3, 5, 10, 40, 30), datetime.datetime(2020, 10, 14, 6, 55, 20), None, datetime.datetime(2020, 3, 5, 2, 40, 30), datetime.datetime(2020, 10, 13, 22, 55, 20), None, 3, '', None, None, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), ''),
 (1302, 20200310, 20200310, 202003, 202003, 1605, 'mi2hfmxfc8ds', 'organization-74706', 74706, '', 'self', 'active', 'qorusdocs.com', 'email_512861', 512861, '', '', '', 'Qorus Software', 'US', '[]', False, False, False, False, False, False, datetime.datetime(2020, 3, 10, 10, 9, 57), datetime.datetime(2021, 3, 18, 12, 24, 16), None, datetime.datetime(2020, 3, 10, 2, 9, 57), datetime.datetime(2021, 3, 18, 4, 24, 16), None, 3, '', None, None, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), ''),
 (1302, 20200311, 20200311, 202003, 202003, 1605, 'mi9j8aqha4ps', 'organization-56510', 56510, '', 'self', 'active', 'wealth-dynamix.com', '', None, '', '', '', 'Brent Randall', 'GB', '[{"name":"sales_channel","value":"direct"},{"name":"sales_rep","value":"Lucas"}]', True, True, False, False, False, False, datetime.datetime(2020, 3, 11, 9, 52, 29), datetime.datetime(2022, 2, 15, 7, 7, 58), None, datetime.datetime(2020, 3, 11, 1, 52, 29), datetime.datetime(2022, 2, 14, 23, 7, 58), None, 1, 'Lucas', None, None, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), ''),
 (1302, 20200326, 20200326, 202003, 202003, 1605, 'ml98iwf5iawq', 'organization-79159', 79159, '', 'self', 'active', 'comdatagroup.net', 'email_513233', 513233, '', '', '', 'Dx Informatica SLU', 'ES', '[]', False, False, False, False, False, False, datetime.datetime(2020, 3, 26, 12, 4, 53), datetime.datetime(2021, 4, 3, 12, 9, 4), None, datetime.datetime(2020, 3, 26, 4, 4, 53), datetime.datetime(2021, 4, 3, 4, 9, 4), None, 3, '', None, None, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), ''),
 (1302, 20200404, 20200404, 202004, 202004, 1605, 'mn2y1dlz1g7g', 'organization-62874', 62874, '', 'self', 'active', 'kanole.saurabh@live.com', 'email_502066', 502066, '', '', '', '62874-Organization kanole.saurabh', '', '[]', False, False, False, False, False, False, datetime.datetime(2020, 4, 4, 17, 3, 41), datetime.datetime(2020, 10, 14, 6, 57, 59), None, datetime.datetime(2020, 4, 4, 9, 3, 41), datetime.datetime(2020, 10, 13, 22, 57, 59), None, 3, '', None, None, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), ''),
 (1302, 20200302, 20200301, 202003, 202003, 1605, 'mgfl0hawj36b', 'organization-33574', 33574, '', 'self', 'active', 'chronometriq.ca', 'email_492401', 492401, '', '', '', '33574-Chronometriq', '', '[]', False, False, False, False, False, False, datetime.datetime(2020, 3, 2, 4, 4, 54), datetime.datetime(2020, 10, 14, 6, 54, 45), None, datetime.datetime(2020, 3, 1, 20, 4, 54), datetime.datetime(2020, 10, 13, 22, 54, 45), None, 3, '', None, None, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), ''),
 (1302, 20200302, 20200301, 202003, 202003, 1605, 'mgfleyl0ux8r', 'organization-7741', 7741, '', 'self', 'active', 'sebameruane@gmail.com', 'email_368954', 368954, '', '', '', '7741-Organization sebameruane', '', '[]', False, False, False, False, False, False, datetime.datetime(2020, 3, 2, 4, 7, 9), datetime.datetime(2020, 10, 14, 6, 54, 49), None, datetime.datetime(2020, 3, 1, 20, 7, 9), datetime.datetime(2020, 10, 13, 22, 54, 49), None, 3, '', None, None, Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), Decimal('0.0000'), '')]

In [10]:
%%sql
SELECT *
FROM stl_load_errors errors

 * postgresql://awsuser:***@redshift-cluster-de-assignment.ceoqlgitrobq.us-east-1.redshift.amazonaws.com:5439/dev
4 rows affected.

[(100, 0, 108075, datetime.datetime(2022, 4, 19, 14, 44, 43, 790270), 1075309855, 28068, 's3://my-demo-data-redshift/recurly_accounts.csv                                                                                                                                                                                                                 ', 1, 'batch_id                                                                                                                       ', 'int8      ', '0         ', 2, '"batch_id","date_id","date_id_ps","month_id","month_id_ps","handle_batch_id","id","code","org_id","parent_account_id","bill_to","state","username","e ... (726 characters truncated) ...                                                                                                                                                      ', 'batch_id                                                                                                                                              ... (726 characters truncated) ...                                                                                                                                                      ', 1207, "Invalid digit, Value 'b', Pos 0, Type: Long                                                         ", 0, 0),
 (100, 1, 108077, datetime.datetime(2022, 4, 19, 14, 45, 23, 172046), 1075309855, 28073, 's3://my-demo-data-redshift/recurly_accounts.csv                                                                                                                                                                                                                 ', 1, 'batch_id                                                                                                                       ', 'int8      ', '0         ', 2, '"batch_id","date_id","date_id_ps","month_id","month_id_ps","handle_batch_id","id","code","org_id","parent_account_id","bill_to","state","username","e ... (726 characters truncated) ...                                                                                                                                                      ', 'batch_id                                                                                                                                              ... (726 characters truncated) ...                                                                                                                                                      ', 1207, "Invalid digit, Value 'b', Pos 0, Type: Long                                                         ", 0, 0),
 (100, 0, 108081, datetime.datetime(2022, 4, 19, 15, 2, 7, 704731), 1075293801, 28254, 's3://my-demo-data-redshift/recurly_accounts.csv                                                                                                                                                                                                                 ', 1, 'batch_id                                                                                                                       ', 'int8      ', '0         ', 2, '"batch_id","date_id","date_id_ps","month_id","month_id_ps","handle_batch_id","id","code","org_id","parent_account_id","bill_to","state","username","e ... (726 characters truncated) ...                                                                                                                                                      ', 'batch_id                                                                                                                                              ... (726 characters truncated) ...                                                                                                                                                      ', 1207, "Invalid digit, Value 'b', Pos 0, Type: Long                                                         ", 0, 0),
 (100, 1, 108085, datetime.datetime(2022, 4, 19, 15, 3, 34, 62313), 1075293801, 28273, 's3://my-demo-data-redshift/recurly_accounts.csv                                                                                                                                                                                                                 ', 1, 'batch_id                                                                                                                       ', 'int4      ', '0         ', 2, '"batch_id","date_id","date_id_ps","month_id","month_id_ps","handle_batch_id","id","code","org_id","parent_account_id","bill_to","state","username","e ... (726 characters truncated) ...                                                                                                                                                      ', 'batch_id                                                                                                                                              ... (726 characters truncated) ...                                                                                                                                                      ', 1207, "Invalid digit, Value 'b', Pos 0, Type: Integer                                                      ", 0, 0)]

## Create a Data Model

In [12]:
create or replace view md_revenue.vi_list_arr_by_subscription
as
with date_list as
 (
 	select distinct dt.month_id , 
 	dt.bo_month_datetime,
 	case when dt.month_id  < this_month() then dt.eo_month_datetime
 	else this_datetime() end as eo_month_datetime,
 	case when dt.month_id  < this_month() then 0
 	else 1 end as is_current_month
 	from dw_dim.date_time dt 
 	where dt.id >20200101 and dt.id  <= this_day()
 )
 select
 dl.month_id,
 dl.bo_month_datetime,
 coalesce ( va.original_orgid, va.org_id) as org_id,
 a.subscription_id,
 va.sales_channel_id sales_channel_id,
 va.sales_rep ,
 va.renewed_by renewed_by_id,
 p.interval_length,
 rs.plan_id ,
 max(a.start_date_ps) as subscription_period_start_datetime,
 max(a.end_date_ps) as subscription_period_end_datetime,
 (sum(a.amount*va.sharing_percent/yearfrac( a.start_date_ps, a.end_date_ps)::real*12))::numeric (18,4)  as arr_ending_amount
 from dw_recurly.adjustments a 
 join dw_recurly.invoices i on a.invoice_id = i.id and a.subscription_id = i.subscription_id and  (i.origin <> 'write_off' OR i.state <> 'closed')
 join dw_vm.vm_recurly_accounts va on va.id = a.account_id 
 join dw_recurly.subscriptions rs on rs.id = a.subscription_id 
 join dw_recurly.plans p on p.id = a.plan_id 
 join date_list dl ON (a.end_date_ps > dl.eo_month_datetime OR a.end_date_ps = dl.eo_month_datetime AND dl.is_current_month = 1) 
 	AND a.created_at_ps <= dl.eo_month_datetime
 where a.end_date_ps IS NOT NULL AND a.start_date_ps IS NOT NULL AND i.state <> 'failed' AND i.state <> 'voided'
 	AND (EXISTS ( SELECT 1
           FROM dw_recurly.subscriptions s
          WHERE a.account_id = s.account_id AND a.subscription_id = s.id AND s.activated_at_ps <= dl.eo_month_datetime 
          	AND (s.state <> 'expired'::text OR s.expires_at_ps > dl.eo_month_datetime AND s.state = 'expired'::text)))
    and va.sharing_percent <> 0 --and a.subscription_id ='mmcikiojem2y'
 group by 1,2,3,4,5,6,7,8,9

 with no schema binding ;

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 39)